<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>


  <div class="container">

    <div class="row">
      <div class="col-sm">
        <h2>My Notes</h2>
        <ul class="notes">
          <li *ngFor="let note of notes">
            <span class="badge">ID: {{note.idNote}}</span> {{note.noteName}}
          </li>
        </ul>
      </div>
      <div class="col-sm">
        <div>
          <label>name:
            <input [(ngModel)]="note.noteName" placeholder="name">
          </label>
          <label>content:
            <input [(ngModel)]="note.noteContent" placeholder="content">
          </label>
          <button (click)="addNote()">Add new note</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>