<!-- <h2>
  {{note.name}}
</h2>
<div>
  <span>id:</span>
  {{note.id}}
</div>
<div>
  <span>id:</span>
  {{note.content}}
</div> -->


<h2>My Notes</h2>
<ul class="notes">
  <li *ngFor="let note of notes">
    <span class="badge">ID: {{note.idNote}}</span> {{note.noteName}}
  </li>
</ul>


<div>
  <label>name:
    <input [(ngModel)]="note.noteName" placeholder="name">
  </label>
  <label>content:
    <input [(ngModel)]="note.noteContent" placeholder="content">
  </label>
  <button (click)="addNote()">Add new note</button>
</div>